*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
}
a {
  color: var(--text-color);
  text-decoration: dashed;
}
img {
  object-fit: cover;
}
:root {
  --accent-color: #7653fc;
  --text-color: #3b434e;
  --text-list-color: #787d85;
  --text-button-color: #ffffff;
  --root-background: #e5e5e5;
}

button:hover {
  background: rgb(83, 52, 206);
}


/* var(--accent-color); */
